{% if favorites contains pokemon.name %}
  <form
    method="POST"
    action="/{{ pokemon.name }}/release"
    data-enhanced="form-{{ pokemon.name }}">
    <button type="submit">
      <img src="/assets/pokeball-icon.svg" alt="">
      <span>⭐</span>
      <span>⭐</span>
      <span>⭐</span>
    </button>

  </form>
{% else %}
  <form
    method="POST"
    action="/{{ pokemon.name }}/catch"
    data-enhanced="form-{{ pokemon.name }}">
    <button type="submit">
      <img src="/assets/caught-pokemon.svg" alt="">
      <span>⭐</span>
      <span>⭐</span>
      <span>⭐</span>
    </button>
  </form>
{% endif %}